<section class="container">
    <div class="row w-100 mt-5 mb-5">
        <div class="col-12 flex-center">
            <img class="title-img" [src]="'../../../assets/images/' + content.images.main" alt="insurance image">
        </div>
        <div class="col-12">
            <h1>Insurance</h1>
        </div>
        <div class="col-12">
            <p>{{ content.descriptions.main }}</p>
        </div>
    </div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="Dashboard">
                    <div class="flex-center-col">
                        <div class="row w-100 mt-5 mb-5">
                            <div class="col-lg-6 col-md-12 flex-center-col order-last order-lg-first">
                                <h1>Insurance Dashboards</h1>
                                <p>{{ content.descriptions.dashboard }}</p>
                            </div>
                            <div class="col-lg-6 col-md-12 flex-center">
                                <img class="stock-img" [src]="'../../../assets/images/' + content.images.dashboard" alt="image">
                            </div>
                        </div>
                        <div class="row w-100 mt-5 mb-5">
                            <div class="col-12">
                                <h2>Dashboard Views</h2>
                            </div>
                            <div class="col-12">
                                <app-ins-dashboard></app-ins-dashboard>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Prediction">
                    <div class="flex-center-col">
                        <div class="row w-100 mt-5 mb-5">
                            <div class="col-lg-6 col-md-12 flex-center">
                                <img class="stock-img" [src]="'../../../assets/images/' + content.images.prediction" alt="image">
                            </div>
                            <div class="col-lg-6 col-md-12 flex-center-col">
                                <h1>Insurance Predictions</h1>
                                <p>{{ content.descriptions.prediction }}</p>
                            </div>
                        </div>
                        <div class="row w-100 mt-5 mb-5">
                            <div class="col-12">
                                <h2>Insurance Prediction Models</h2>
                            </div>
                            <div class="col-12">
                                <p>{{ content.descriptions.models }}</p>
                            </div>
                            <div class="col-12">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <strong>Insurance CLV Prediction</strong>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <app-ins-clv-prediction></app-ins-clv-prediction>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>