<section class="container">
    <app-header></app-header>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-12 flex-center-col">
            <h2>John Keells IT</h2>
            <p>{{ content.descriptions.jkit.para1 }}</p>
            <p>{{ content.descriptions.jkit.para2 }}</p>
            <p>{{ content.descriptions.jkit.para3 }}</p>
        </div>
    </div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-12 flex-center-col">
            <h2>Your Dream. Your Recognition.</h2>
            <p>{{ content.descriptions.event.para1 }}</p>
            <p>{{ content.descriptions.event.para2 }}</p>
        </div>
    </div>
</section>